

html, body, #root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  margin: 0;
}

a { color: #9bb1ff; text-decoration: none; }
a:hover { text-decoration: underline; }

h1, h2, h3, p { margin: 0; }
